.font-graphik {
    font-family: 'Graphik';
    font-weight: 400;
}

.font-graphik-light {
    font-family: 'Graphik';
    font-weight: 200;
}

.bg-dark {
    background-color: #101225;
}

.text-light {
    color: #7895FF;
}